services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.2
    container_name: jellyfin
    # user: uid:gid # Going rootless
    network_mode: 'host'
    ports:
      - 8096:8096
      - 8920:8920
      - 1900:1900
      - 7359:7359
    volumes:
      - jellyfin-config:/config # Also, self-signed cert files in here
      - jellyfin-cache:/cache
      - media-server-movies:/media/movies
    restart: unless-stopped
    # Optional - alternative address used for autodiscovery
    environment:
      - JELLYFIN_PublishedServerUrl=https://jellyfin.int.saphnet.xyz
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    devices:
      - /dev/dri:/dev/dri
    extra_hosts:
      - 'host.docker.internal:host-gateway'

  jackett:
    image: lscr.io/linuxserver/jackett:0.24.319
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
      - AUTO_UPDATE=true #optional
      - RUN_OPTS= #optional
    volumes:
      - jackett-config:/config
      - seedbox-torrent-downloads:/downloads # Deluge torrents folder
    ports:
      - 9117:9117
    restart: unless-stopped
    
  radarr:
    image: lscr.io/linuxserver/radarr:5.28.0
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
    volumes:
      - radarr-config:/config
      - media-server-movies:/movies # Jellyfin movies folder
      - seedbox-torrent-downloads:/downloads # Deluge complete downloads folder
    ports:
      - 7878:7878
    restart: unless-stopped

volumes:
  seedbox-files:
  jellyfin-config:
  jellyfin-cache:
  jackett-config:
  radarr-config:
  media-server-movies:
    driver_opts:
      type: "nfs"
      o: "addr=nas1.int-net.saphnet.xyz,nolock,soft,rw,nfsvers=4"
      device: ":/mnt/saphnet-nas1b/media-server/jellyfin/movies"
  seedbox-torrent-files:
    driver_opts:
      type: "nfs"
      o: "addr=nas1.int-net.saphnet.xyz,nolock,soft,rw,nfsvers=4"
      device: ":/mnt/saphnet-nas1b/media-server/deluge/torrent_files"
  seedbox-torrent-downloads:
    driver_opts:
      type: "nfs"
      o: "addr=nas1.int-net.saphnet.xyz,nolock,soft,rw,nfsvers=4"
      device: ":/mnt/saphnet-nas1b/media-server/deluge/torrent_downloads"