name: Docker Compose lint

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main
    paths-ignore:
      - '.github/**' # Avoid issues with Dependabot
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: docker-compose-linter/dclint-github-action@v1.6.0
        with:
          recursive: true
          exclude: .github
        continue-on-error: true